# Local Netlify folder
.netlify

# Node and hugo folders
/node_modules
/public
/resources


#misc
.DS_Store
deno.lock

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
