body {
    height: auto;
}

#word-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.word {
  position: relative;
  margin: 25px;
}

#formContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
}

#wordForm {
  position: flex;
  font-size: 25px;
  flex-direction: column;
  display: block;
  padding: 50px;
  text-align: center;
  div {
    margin: 25px;
  }
  input {
    font-size: 50px;
    font-size: 36px;
    text-align: center;
    text-justify: center;
    border: none;
    outline: none;
    background-color: transparent;
  }
  button {
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
  }
  button:hover {
    background-color: black;
    color: white;
  }

}

#wordAgain {
  display: block;
  position: fixed;
  text-decoration: underline;
  margin: 25px;
  right: 0px;
  top: 0px;
}

