{{ define "main" }}



<div id="word-container">
</div>

<div>
    <form id="wordForm">
      <label for="word">Enter a word:</label>
      <input type="text" id="word" name="word" required>
      <button type="submit">Submit</button>
    </form>
  </div>
  
    <script src="https://www.google.com/recaptcha/api.js?render=6LcYAzUoAAAAAKnfXcLaFMzaqOJAkxgsKJmmRsPn"></script>

    {{ $javascript := resources.Get "js/handle-form.js" | resources.Minify }}
    <script src="{{- $javascript.Permalink -}}"></script>


{{ end }}