{{ define "main" }}



<div id="word-container">
</div>

<div id="formContainer">
    <form id="wordForm">
      <div id="sendAWord">Vi høster ordene fra haven på Rønnebæksholm. Send et ord fra haven.</div>
        <div><label for="word"></label></div>
        <div><input type="text" id="word" name="word" autofocus="true" maxlength="35" autocomplete="off" required></div>
        <div><button type="submit">Send</button><button id="cancel" type="reset">Send Ikke</button></div>
    </form>
  </div>

  <div id="flyWord"></div>

  <div id="suggested-words">
    <div id="otherHaveSuggested"><h3 id="otherHaveSuggestedH" >Andre har foreslået</h3></div>
  </div>
  
    <script src="https://www.google.com/recaptcha/api.js?render=6LcYAzUoAAAAAKnfXcLaFMzaqOJAkxgsKJmmRsPn"></script>


{{ end }}
